#content{
    margin: 2em;
}

div[data-tabs] {
    margin-bottom: 3em;
}

a[data-tab] {
    width: 100%;
    font-size: 1em;
}

button {
    font-size: 1em;
    width: 100%;
}

br {
    line-height: 250%;
}

.text-center{
    text-align: center;
}

#value-bar {
    background-color: #9be7ff;
    height: 2em;
    position: relative;
    z-index: -10;
}

.back-layer {
    position: absolute;
    z-index: -1;
}

.full-height {
     height: 100%;
 }

.full-width {
    width: 100%;
}

.relative {
    position: relative;
}

.border-right-blue {
    border-right-style: dotted;
    border-right-color: blue;
}

.border-right-red {
    border-right-style: dotted;
    border-right-color: red;
}

.border-right-gray {
    border-right-style: dotted;
    border-right-width: medium;
    border-right-color: darkgray;
}

span, label {
    background-color: white;
}

label {
    display:inline-block;
}

#circle {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: -5px;
    left: -5px;
}

.color-lightcyan {
    background-color: #9be7ff;
}

.zoombutton {
    position: absolute;
    line-height: 0; !important;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    padding: 0; !important;

}